In [72]:
import pandas as pd
pd.set_option('max_columns', 50)

In [2]:
df = pd.read_csv('feature_selected.csv')

In [3]:
df.head()

,start_time,esports_match_id,map_type,map_name,player_name,team_name,stat_name,hero_name,stat_amount
0,2021-04-16 19:08:52,37234,CONTROL,Busan,Doha,Dallas Fuel,All Damage Done,Echo,314.000000
1,2021-04-16 19:08:52,37234,CONTROL,Busan,Doha,Dallas Fuel,Average Time Alive,Echo,16.881001
2,2021-04-16 19:08:52,37234,CONTROL,Busan,Doha,Dallas Fuel,Damage Taken,Echo,330.778026
3,2021-04-16 19:08:52,37234,CONTROL,Busan,Doha,Dallas Fuel,Deaths,Echo,1.000000
4,2021-04-16 19:08:52,37234,CONTROL,Busan,Doha,Dallas Fuel,Healing Received,Echo,130.778090

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314515 entries, 0 to 314514
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   start_time        314515 non-null  object
 1   esports_match_id  314515 non-null  int64
 2   map_type          314515 non-null  object
 3   map_name          314515 non-null  object
 4   player_name       314515 non-null  object
 5   team_name         314515 non-null  object
 6   stat_name         314515 non-null  object
 7   hero_name         314515 non-null  object
 8   stat_amount       314515 non-null  float64
dtypes: float64(1), int64(1), object(7)
memory usage: 21.6+ MB

In [6]:
df['stat_name'].unique().tolist()

['All Damage Done',
 'Average Time Alive',
 'Damage Taken',
 'Deaths',
 'Healing Received',
 'Hero Damage Done',
 'Time Alive',
 'Time Building Ultimate',
 'Time Played',
 'Assists',
 'Barrier Damage Done',
 'Eliminations',
 'Objective Time',
 'Time Hacked',
 'Time Holding Ultimate',
 'Ultimates Used',
 'Final Blows',
 'Objective Kills',
 'Time Discorded',
 'Healing Done',
 'Environmental Deaths',
 'Multikills',
 'Solo Kills']

In [10]:
df['start_time'].map(lambda x:x[:11]).head()

0    2021-04-16
1    2021-04-16
2    2021-04-16
3    2021-04-16
4    2021-04-16
Name: start_time, dtype: object

In [11]:
df['match_date'] = df['start_time'].map(lambda x:x[:11])

In [12]:
# drop start_time column
df.drop('start_time',axis=1, inplace=True)

In [13]:
df.head()

,esports_match_id,map_type,map_name,player_name,team_name,stat_name,hero_name,stat_amount,match_date
0,37234,CONTROL,Busan,Doha,Dallas Fuel,All Damage Done,Echo,314.000000,2021-04-16
1,37234,CONTROL,Busan,Doha,Dallas Fuel,Average Time Alive,Echo,16.881001,2021-04-16
2,37234,CONTROL,Busan,Doha,Dallas Fuel,Damage Taken,Echo,330.778026,2021-04-16
3,37234,CONTROL,Busan,Doha,Dallas Fuel,Deaths,Echo,1.000000,2021-04-16
4,37234,CONTROL,Busan,Doha,Dallas Fuel,Healing Received,Echo,130.778090,2021-04-16

In [78]:
pivoted_df = df.pivot_table(index=['esports_match_id','match_date','map_type','map_name','player_name','team_name','hero_name'], columns=['stat_name'],values=['stat_amount']).reset_index()

In [79]:
pivoted_df.head()

          esports_match_id   match_date map_type             map_name  \
stat_name
0                    37147  2021-05-02   ASSAULT  Volskaya Industries
1                    37147  2021-05-02   ASSAULT  Volskaya Industries
2                    37147  2021-05-02   ASSAULT  Volskaya Industries
3                    37147  2021-05-02   ASSAULT  Volskaya Industries
4                    37147  2021-05-02   ASSAULT  Volskaya Industries

          player_name        team_name hero_name     stat_amount          \
stat_name                                        All Damage Done Assists
0              Crimzo  Houston Outlaws       Ana     8503.958566     6.0
1              Danteh  Houston Outlaws    Sombra     2150.868906     4.0
2              Danteh  Houston Outlaws    Tracer    14145.583822    10.0
3                Doha      Dallas Fuel  Doomfist             NaN     NaN
4                Doha      Dallas Fuel      Echo    10162.714857     7.0

                                                                      \
stat_name Average Time Alive Barrier Damage Done Damage Taken Deaths
0                  71.833288         2806.817561  6058.719847   10.0
1                 200.210006           30.020000  1217.580181    1.0
2                  82.628803         3679.102516  3842.679806    7.0
3                        NaN                 NaN   250.000006    1.0
4                 135.244671         4282.129749  3341.783319    2.0

                                                                       \
stat_name Eliminations Environmental Deaths Final Blows  Healing Done
0                 10.0                  1.0         4.0  16841.905183
1                  6.0                  NaN         2.0           NaN
2                 17.0                  NaN         7.0           NaN
3                  NaN                  NaN         NaN           NaN
4                 11.0                  NaN         4.0           NaN

                                                                        \
stat_name Healing Received Hero Damage Done Multikills Objective Kills
0              3435.343681      5697.141006        NaN             6.0
1              1017.580576      2120.828906        NaN             5.0
2              1803.483796     10461.481306        NaN             7.0
3                      NaN              NaN        NaN             NaN
4              2521.096822      5880.585108        NaN             NaN

                                                                         \
stat_name Objective Time Solo Kills   Time Alive Time Building Ultimate
0              14.175000        NaN  1005.666030             830.162024
1              11.655000        NaN   200.210006             182.186005
2             101.381003        2.0   826.288025             644.355019
3                    NaN        NaN    12.578000              21.048001
4               6.104000        1.0   405.734012             322.827009

                                                                         \
stat_name Time Discorded Time Hacked Time Holding Ultimate  Time Played
0                    NaN       4.997            213.366006  1109.550134
1                    NaN         NaN             18.019001   211.204241
2                    NaN       4.998            252.720008   898.345894
3                    NaN         NaN                   NaN    21.429678
4                    NaN         NaN             91.656003   426.246700


stat_name Ultimates Used
0                    8.0
1                    2.0
2                    7.0
3                    NaN
4                    5.0

In [80]:
pivoted_df.columns

MultiIndex([('esports_match_id',                       ''),
            (      'match_date',                       ''),
            (        'map_type',                       ''),
            (        'map_name',                       ''),
            (     'player_name',                       ''),
            (       'team_name',                       ''),
            (       'hero_name',                       ''),
            (     'stat_amount',        'All Damage Done'),
            (     'stat_amount',                'Assists'),
            (     'stat_amount',     'Average Time Alive'),
            (     'stat_amount',    'Barrier Damage Done'),
            (     'stat_amount',           'Damage Taken'),
            (     'stat_amount',                 'Deaths'),
            (     'stat_amount',           'Eliminations'),
            (     'stat_amount',   'Environmental Deaths'),
            (     'stat_amount',            'Final Blows'),
            (     'stat_amount',           'Healing Done'),
            (     'stat_amount',       'Healing Received'),
            (     'stat_amount',       'Hero Damage Done'),
            (     'stat_amount',             'Multikills'),
            (     'stat_amount',        'Objective Kills'),
            (     'stat_amount',         'Objective Time'),
            (     'stat_amount',             'Solo Kills'),
            (     'stat_amount',             'Time Alive'),
            (     'stat_amount', 'Time Building Ultimate'),
            (     'stat_amount',         'Time Discorded'),
            (     'stat_amount',            'Time Hacked'),
            (     'stat_amount',  'Time Holding Ultimate'),
            (     'stat_amount',            'Time Played'),
            (     'stat_amount',         'Ultimates Used')],
           names=[None, 'stat_name'])

In [88]:
cols_part1 = [x for x in pivoted_df.columns.get_level_values(0).tolist() if x!='stat_amount']

In [89]:
pivoted_df.columns.get_level_values(1)

Index(['', '', '', '', '', '', '', 'All Damage Done', 'Assists',
       'Average Time Alive', 'Barrier Damage Done', 'Damage Taken', 'Deaths',
       'Eliminations', 'Environmental Deaths', 'Final Blows', 'Healing Done',
       'Healing Received', 'Hero Damage Done', 'Multikills', 'Objective Kills',
       'Objective Time', 'Solo Kills', 'Time Alive', 'Time Building Ultimate',
       'Time Discorded', 'Time Hacked', 'Time Holding Ultimate', 'Time Played',
       'Ultimates Used'],
      dtype='object', name='stat_name')

In [90]:
cols_part2 = [x.lower().replace(' ','_') for x in pivoted_df.columns.get_level_values(1).tolist() if x!='']

In [91]:
cols_part2

['all_damage_done',
 'assists',
 'average_time_alive',
 'barrier_damage_done',
 'damage_taken',
 'deaths',
 'eliminations',
 'environmental_deaths',
 'final_blows',
 'healing_done',
 'healing_received',
 'hero_damage_done',
 'multikills',
 'objective_kills',
 'objective_time',
 'solo_kills',
 'time_alive',
 'time_building_ultimate',
 'time_discorded',
 'time_hacked',
 'time_holding_ultimate',
 'time_played',
 'ultimates_used']

In [92]:
chosen_features = cols_part1+cols_part2

In [94]:
chosen_features

['esports_match_id',
 'match_date',
 'map_type',
 'map_name',
 'player_name',
 'team_name',
 'hero_name',
 'all_damage_done',
 'assists',
 'average_time_alive',
 'barrier_damage_done',
 'damage_taken',
 'deaths',
 'eliminations',
 'environmental_deaths',
 'final_blows',
 'healing_done',
 'healing_received',
 'hero_damage_done',
 'multikills',
 'objective_kills',
 'objective_time',
 'solo_kills',
 'time_alive',
 'time_building_ultimate',
 'time_discorded',
 'time_hacked',
 'time_holding_ultimate',
 'time_played',
 'ultimates_used']

In [95]:
pivoted_df.columns=chosen_features

In [96]:
pivoted_df.head()

,esports_match_id,match_date,map_type,map_name,player_name,team_name,hero_name,all_damage_done,assists,average_time_alive,barrier_damage_done,damage_taken,deaths,eliminations,environmental_deaths,final_blows,healing_done,healing_received,hero_damage_done,multikills,objective_kills,objective_time,solo_kills,time_alive,time_building_ultimate,time_discorded,time_hacked,time_holding_ultimate,time_played,ultimates_used
0,37147,2021-05-02,ASSAULT,Volskaya Industries,Crimzo,Houston Outlaws,Ana,8503.958566,6.0,71.833288,2806.817561,6058.719847,10.0,10.0,1.0,4.0,16841.905183,3435.343681,5697.141006,NaN,6.0,14.175000,NaN,1005.666030,830.162024,NaN,4.997,213.366006,1109.550134,8.0
1,37147,2021-05-02,ASSAULT,Volskaya Industries,Danteh,Houston Outlaws,Sombra,2150.868906,4.0,200.210006,30.020000,1217.580181,1.0,6.0,NaN,2.0,NaN,1017.580576,2120.828906,NaN,5.0,11.655000,NaN,200.210006,182.186005,NaN,NaN,18.019001,211.204241,2.0
2,37147,2021-05-02,ASSAULT,Volskaya Industries,Danteh,Houston Outlaws,Tracer,14145.583822,10.0,82.628803,3679.102516,3842.679806,7.0,17.0,NaN,7.0,NaN,1803.483796,10461.481306,NaN,7.0,101.381003,2.0,826.288025,644.355019,NaN,4.998,252.720008,898.345894,7.0
3,37147,2021-05-02,ASSAULT,Volskaya Industries,Doha,Dallas Fuel,Doomfist,NaN,NaN,NaN,NaN,250.000006,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.578000,21.048001,NaN,NaN,NaN,21.429678,NaN
4,37147,2021-05-02,ASSAULT,Volskaya Industries,Doha,Dallas Fuel,Echo,10162.714857,7.0,135.244671,4282.129749,3341.783319,2.0,11.0,NaN,4.0,NaN,2521.096822,5880.585108,NaN,NaN,6.104000,1.0,405.734012,322.827009,NaN,NaN,91.656003,426.246700,5.0

In [97]:
pivoted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21123 entries, 0 to 21122
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   esports_match_id        21123 non-null  int64
 1   match_date              21123 non-null  object
 2   map_type                21123 non-null  object
 3   map_name                21123 non-null  object
 4   player_name             21123 non-null  object
 5   team_name               21123 non-null  object
 6   hero_name               21123 non-null  object
 7   all_damage_done         18050 non-null  float64
 8   assists                 15266 non-null  float64
 9   average_time_alive      19294 non-null  float64
 10  barrier_damage_done     16077 non-null  float64
 11  damage_taken            18320 non-null  float64
 12  deaths                  16490 non-null  float64
 13  eliminations            16034 non-null  float64
 14  environmental_deaths    1231 non-null   float64
 15  final_blows             13984 non-null  float64
 16  healing_done            5555 non-null   float64
 17  healing_received        17905 non-null  float64
 18  hero_damage_done        17919 non-null  float64
 19  multikills              2273 non-null   float64
 20  objective_kills         13369 non-null  float64
 21  objective_time          16425 non-null  float64
 22  solo_kills              3643 non-null   float64
 23  time_alive              21123 non-null  float64
 24  time_building_ultimate  21123 non-null  float64
 25  time_discorded          4493 non-null   float64
 26  time_hacked             4167 non-null   float64
 27  time_holding_ultimate   15471 non-null  float64
 28  time_played             21010 non-null  float64
 29  ultimates_used          15293 non-null  float64
dtypes: float64(23), int64(1), object(6)
memory usage: 4.8+ MB

In [98]:
pivoted_df[pivoted_df['time_played']<pivoted_df['time_alive']]

,esports_match_id,match_date,map_type,map_name,player_name,team_name,hero_name,all_damage_done,assists,average_time_alive,barrier_damage_done,damage_taken,deaths,eliminations,environmental_deaths,final_blows,healing_done,healing_received,hero_damage_done,multikills,objective_kills,objective_time,solo_kills,time_alive,time_building_ultimate,time_discorded,time_hacked,time_holding_ultimate,time_played,ultimates_used
25,37147,2021-05-02,CONTROL,Busan,Danteh,Houston Outlaws,Doomfist,NaN,NaN,1.098000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.098000,1.099000,NaN,NaN,NaN,0.973199,NaN
31,37147,2021-05-02,CONTROL,Busan,Doha,Dallas Fuel,Symmetra,NaN,NaN,3.655000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.655000,3.661000,NaN,NaN,NaN,2.923113,NaN
33,37147,2021-05-02,CONTROL,Busan,FEARLESS,Dallas Fuel,Winston,2674.447847,10.0,189.963006,690.305510,2268.775403,NaN,13.0,NaN,3.0,NaN,2158.775436,1821.224324,NaN,2.0,21.707001,1.0,189.963006,151.559004,NaN,NaN,28.397001,189.803127,1.0
35,37147,2021-05-02,CONTROL,Busan,Fielder,Dallas Fuel,Moira,1258.888963,9.0,189.963006,147.489995,690.011017,NaN,11.0,NaN,2.0,5226.495667,679.093322,1088.158969,NaN,2.0,14.735000,NaN,189.963006,170.793005,NaN,NaN,2.107000,189.803127,2.0
44,37147,2021-05-02,CONTROL,Busan,Piggy,Houston Outlaws,D.Va,40.208843,NaN,11.052000,0.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.608843,NaN,NaN,NaN,NaN,11.052000,11.053000,NaN,NaN,NaN,10.703409,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21086,37448,2021-09-22,ASSAULT,Temple of Anubis,MAG,Washington Justice,Wrecking Ball,112.500000,NaN,12.816000,NaN,1.800000,NaN,NaN,NaN,NaN,NaN,NaN,112.500000,NaN,NaN,NaN,NaN,12.816000,12.816000,NaN,NaN,NaN,12.649715,NaN
21103,37448,2021-09-22,CONTROL,Nepal,PELICAN,Atlanta Reign,Doomfist,3333.787853,5.0,NaN,615.339015,1180.646477,NaN,7.0,NaN,2.0,NaN,461.844671,2568.448838,NaN,NaN,3.500000,NaN,125.663004,109.871003,NaN,NaN,15.793000,125.558478,1.0
21111,37448,2021-09-22,HYBRID,King's Row,Decay,Washington Justice,Tracer,NaN,NaN,3.919000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.919000,3.920000,NaN,NaN,NaN,3.887084,NaN
21117,37448,2021-09-22,HYBRID,King's Row,Kai,Atlanta Reign,Widowmaker,NaN,NaN,4.075000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.075000,4.081000,NaN,NaN,NaN,3.891859,NaN
21120,37448,2021-09-22,HYBRID,King's Row,PELICAN,Atlanta Reign,Hanzo,NaN,NaN,2.689000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.689000,2.695000,NaN,NaN,NaN,1.949877,NaN

In [99]:
pivoted_df['time_played'].describe()

count    21010.000000
mean       372.228284
std        304.645404
min          0.970064
25%         92.463229
50%        319.201866
75%        588.847725
max       1392.809622
Name: time_played, dtype: float64

In [100]:
pivoted_df['time_alive'].describe()

count    21123.000000
mean       338.962436
std        280.846811
min          0.001000
25%         77.332502
50%        287.886009
75%        538.114516
max       1299.263039
Name: time_alive, dtype: float64

In [101]:
# filter to time played >= 120s
df1 = pivoted_df[pivoted_df['time_played']>=120]

In [105]:
# filter out mistake records
df2 = df1[df1['time_alive']<=df1['time_played']]

In [115]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15017 entries, 0 to 21122
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   esports_match_id        15017 non-null  int64
 1   match_date              15017 non-null  object
 2   map_type                15017 non-null  object
 3   map_name                15017 non-null  object
 4   player_name             15017 non-null  object
 5   team_name               15017 non-null  object
 6   hero_name               15017 non-null  object
 7   all_damage_done         14827 non-null  float64
 8   assists                 13896 non-null  float64
 9   average_time_alive      14808 non-null  float64
 10  barrier_damage_done     13852 non-null  float64
 11  damage_taken            15017 non-null  float64
 12  deaths                  14590 non-null  float64
 13  eliminations            14339 non-null  float64
 14  environmental_deaths    1199 non-null   float64
 15  final_blows             12864 non-null  float64
 16  healing_done            4792 non-null   float64
 17  healing_received        15011 non-null  float64
 18  hero_damage_done        14814 non-null  float64
 19  multikills              2210 non-null   float64
 20  objective_kills         12286 non-null  float64
 21  objective_time          14336 non-null  float64
 22  solo_kills              3466 non-null   float64
 23  time_alive              15017 non-null  float64
 24  time_building_ultimate  15017 non-null  float64
 25  time_discorded          4117 non-null   float64
 26  time_hacked             3928 non-null   float64
 27  time_holding_ultimate   14833 non-null  float64
 28  time_played             15017 non-null  float64
 29  ultimates_used          14706 non-null  float64
dtypes: float64(23), int64(1), object(6)
memory usage: 3.6+ MB

In [116]:
df2.to_csv('player_stats_final.csv',index=False)

In [119]:
df2[df2['hero_name']=='Mercy'][['eliminations','assists']]

       eliminations  assists
175             1.0      NaN
271             NaN      NaN
312             NaN      NaN
520             NaN      NaN
549             NaN      NaN
...             ...      ...
20938           NaN      NaN
20965           1.0      1.0
20969           NaN      NaN
20982           1.0      1.0
20999           NaN      NaN

[581 rows x 2 columns]

In [124]:
df2[df2['eliminations']==df2['assists']]

,esports_match_id,match_date,map_type,map_name,player_name,team_name,hero_name,all_damage_done,assists,average_time_alive,barrier_damage_done,damage_taken,deaths,eliminations,environmental_deaths,final_blows,healing_done,healing_received,hero_damage_done,multikills,objective_kills,objective_time,solo_kills,time_alive,time_building_ultimate,time_discorded,time_hacked,time_holding_ultimate,time_played,ultimates_used
8,37147,2021-05-02,ASSAULT,Volskaya Industries,Fielder,Dallas Fuel,Ana,4774.390038,8.0,100.510336,1863.960018,3625.735293,3.0,8.0,NaN,NaN,14070.666030,2680.978149,2910.430021,NaN,1.0,23.233001,NaN,603.062018,489.836014,NaN,NaN,94.363003,632.599353,6.0
24,37147,2021-05-02,CONTROL,Busan,Crimzo,Houston Outlaws,Baptiste,5244.062540,4.0,64.698752,2202.419582,1640.125198,3.0,4.0,NaN,NaN,6878.657155,996.125400,2825.642958,NaN,1.0,0.049000,NaN,258.795008,201.856006,NaN,NaN,68.941002,291.956003,2.0
43,37147,2021-05-02,CONTROL,Busan,Joobi,Houston Outlaws,Lcio,4140.000000,7.0,291.457009,1710.000000,1365.429990,1.0,7.0,NaN,NaN,3452.085724,952.930972,2195.000000,NaN,3.0,15.582000,NaN,291.457009,257.985007,NaN,NaN,17.941001,291.956003,2.0
47,37147,2021-05-02,CONTROL,Busan,Piggy,Houston Outlaws,Zarya,1780.160930,1.0,48.633335,354.078651,1865.226321,3.0,1.0,NaN,NaN,NaN,524.226421,1426.082279,NaN,NaN,NaN,NaN,145.900004,173.640005,NaN,NaN,1.274000,179.099718,1.0
66,37147,2021-05-03,HYBRID,Blizzard World,Piggy,Houston Outlaws,Sigma,6027.913354,1.0,67.280502,2706.776286,1121.088553,1.0,1.0,NaN,NaN,NaN,486.377362,3186.137066,NaN,NaN,NaN,NaN,134.561004,107.179003,NaN,NaN,30.880001,145.043492,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21014,37447,2021-09-23,ASSAULT,Volskaya Industries,Jecse,Dallas Fuel,Brigitte,1598.750000,3.0,79.833002,180.000000,1474.884391,3.0,3.0,NaN,NaN,4556.898894,674.913107,1418.750000,NaN,2.0,3.507000,NaN,399.165012,396.950012,NaN,7.091,22.183001,429.175936,1.0
21050,37447,2021-09-23,HYBRID,Eichenwalde,Farway1987,Chengdu Hunters,Ana,1608.395185,2.0,60.487335,305.895163,903.677629,2.0,2.0,NaN,NaN,3336.748257,442.296184,1302.500022,NaN,NaN,6.062000,NaN,181.462005,152.516004,NaN,NaN,32.644001,201.479450,2.0
21061,37447,2021-09-23,HYBRID,Eichenwalde,JinMu,Chengdu Hunters,Torbjrn,3304.866474,4.0,61.450002,633.500000,1068.612886,1.0,4.0,1.0,NaN,NaN,457.059705,2671.346473,NaN,NaN,NaN,NaN,122.900004,129.309004,NaN,NaN,0.588000,133.320986,1.0
21077,37448,2021-09-22,ASSAULT,Temple of Anubis,Closer,Washington Justice,Lcio,4720.779987,4.0,49.143751,1810.000000,3258.194732,7.0,4.0,NaN,NaN,4110.617417,1407.776660,2640.779987,NaN,2.0,31.528001,NaN,393.150012,421.750012,NaN,NaN,13.542000,450.669107,2.0
21079,37448,2021-09-22,ASSAULT,Temple of Anubis,Decay,Washington Justice,Symmetra,6864.803006,7.0,46.047287,3451.100126,3102.515014,6.0,7.0,NaN,NaN,NaN,1467.330550,2618.048665,NaN,4.0,39.004001,NaN,322.331010,334.614010,NaN,NaN,37.083001,384.469511,1.0

In [125]:
df2[df2['assists'].isnull()==False]['hero_name'].unique().tolist()

['Ana',
 'Sombra',
 'Tracer',
 'Echo',
 'Winston',
 'Moira',
 'D.Va',
 'Zarya',
 'McCree',
 'Wrecking Ball',
 'Brigitte',
 'Lcio',
 'Reaper',
 'Baptiste',
 'Mei',
 'Reinhardt',
 'Symmetra',
 'Sigma',
 'Doomfist',
 'Zenyatta',
 'Ashe',
 'Hanzo',
 'Pharah',
 'Junkrat',
 'Orisa',
 'Widowmaker',
 'Genji',
 'Soldier: 76',
 'Mercy',
 'Torbjrn',
 'Roadhog',
 'Bastion']

In [126]:
df2[df2['all_damage_done']<df2['hero_damage_done']]

Empty DataFrame
Columns: [esports_match_id, match_date, map_type, map_name, player_name, team_name, hero_name, all_damage_done, assists, average_time_alive, barrier_damage_done, damage_taken, deaths, eliminations, environmental_deaths, final_blows, healing_done, healing_received, hero_damage_done, multikills, objective_kills, objective_time, solo_kills, time_alive, time_building_ultimate, time_discorded, time_hacked, time_holding_ultimate, time_played, ultimates_used]
Index: []

In [127]:
df2.columns.tolist()

['esports_match_id',
 'match_date',
 'map_type',
 'map_name',
 'player_name',
 'team_name',
 'hero_name',
 'all_damage_done',
 'assists',
 'average_time_alive',
 'barrier_damage_done',
 'damage_taken',
 'deaths',
 'eliminations',
 'environmental_deaths',
 'final_blows',
 'healing_done',
 'healing_received',
 'hero_damage_done',
 'multikills',
 'objective_kills',
 'objective_time',
 'solo_kills',
 'time_alive',
 'time_building_ultimate',
 'time_discorded',
 'time_hacked',
 'time_holding_ultimate',
 'time_played',
 'ultimates_used']